---
# yaml-language-server: $schema=https://www.talos.dev/v1.9/schemas/v1alpha1_config.schema.json

version: v1alpha1

machine:
  network:
    hostname: edd
    interfaces:
      - addresses:
          - 10.100.31.8/16

  disks:
    - device: /dev/sdb
      partitions:
        - mountpoint: /var/mnt/extra

  install:
    disk: /dev/sda

# vim:ft=yaml
