---
# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
# yaml-language-server: $schema=https://www.talos.dev/v1.10/schemas/v1alpha1_config.schema.json

version: v1alpha1

machine:
  network:
    hostname: bubbles
    interfaces:
      - addresses:
          - 10.42.20.11/24

  disks:
    - device: /dev/sdb
      partitions:
        - mountpoint: /dev/disk/by-id/nvme-WD_Blue_SN570_500GB_22319R456109

  install:
    disk: /dev/disk/by-id/ata-TS128GMTS430S_H854361188

# vim:ft=yaml
